:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --primary-color: rgb(238, 77, 45);
  --border-color: #dbdbdb;

  --navbar-height: 33px;
  --header-height: 120px;
  --header-search-height: calc(var(--header-height) - var(--navbar-height));
}

* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.grid__full-width {
  width: 100%;
}

.grid__row {
  display: flex;
  flex-wrap: wrap;
}

/* animations */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes growth {
  from {
    transform: scale(var(--growth-start));
  }
  to {
    transform: scale(var(--growth-end));
  }
}
/* Modal css */

.modal {
  position: fixed;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  animation: fadeIn linear 0.1s;
}

.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.modal__body {
  --growth-start:0.7;
  --growth-end:1;
  /* position: relative; */
  margin: auto;
  /* background-color: var(--white-color); */
  z-index: 999;
  animation: growth linear 0.2s;
}
/* btn style */
.btn {
  min-width: 124px;
  min-height: 34px;
  text-decoration: none;
  border: none;
  border-radius: 2px;
  background-color: inherit;
  font-size: 1.5rem;
  padding: 0 12px;
  outline: none;
  cursor: pointer;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.6rem;
}

.btn.btn--size-s {
  height: 32px;
  font-size: 12px;
  padding: 0 8px;
}

.btn.btn--hov-nor:hover {
  background-color: rgba(0,0,0,0.1);
}

.btn.btn--primary {
  color: var(--white-color);
  background-color: var(--primary-color);
}

.btn.btn--disabled {
  color: #949494;
  cursor: default;
  background-color: #c3c3c3;
}