.header {
  height: var(--header-height);
  background-image: linear-gradient(0,#fe6433,#f53e2d);
}
.navbar {
  display: flex;
  justify-content: space-between;
}
.navbar__list {
  height: var(--navbar-height);
  list-style: none;
  padding-left: 0;
  margin: 4px 0 0 0;
}

.navbar__item {
  position: relative;
  margin: 0 8px;
  /* min-height: 26px; */
}

.navbar__item--qr:hover .header__qr {
  display: block;
}

.navbar__item--show-noti:hover .navbar__noti {
  display: block;
}

.navbar__item, .navbar__item-link {
  display: inline-block;
  font-size: 1.4rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 300;
}

.navbar__item:hover, .navbar__item-link:hover {
  color: rgba(255,255,255,0.7);
  cursor: pointer;
}

.navbar__item-bold {
  font-weight: 400;
}

/* the line between 2 obj */
.navbar__item-separate::after {
  position: absolute;
  content: "";
  display: block;
  height: 14px;
  border: solid 1px #FB9086;
  right: -9px;
  top:50%;
  transform: translateY(-50%);
}

.navbar__header-icon-link {
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
}

.header__qr {
  background-color: var(--white-color);
  width: 186px;
  position: absolute;
  left:0;
  top:160%;
  padding:8px;
  border-radius: 5px;
  display: none;
  animation: fadeIn ease-in 0.4s;
}

/* the bridge between QR code and header */
.header__qr::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 20px;
  left: 0;
  top: -16px;
}

.header__qr-img {
  width: 100%;
}

.header__qr-apps {
  display: flex;
  justify-content: space-between;
}

.header__qr-dowload {
  height: 16px;
  /* margin-left: 11px; */
}

.header__qr-link:nth-child(1) {
  margin-left: 11px;
}

.header__qr-link:nth-child(2) {
  margin-right: 11px;
}

/* header noti */

.navbar__noti {
  margin-top: 8px;
  position: absolute;
  top:118%;
  right:0;
  width: 404px;
  background-color: var(--white-color);
  border: 1px solid #d3d3d3;
  cursor: default;
  transform-origin: calc(100% - 20px) top;
  animation: notiGrow ease-in 0.2s;
  will-change: transform, opacity;
  -moz-animation: notiGrow ease-in 0.2s;
  -webkit-animation: notiGrow ease-in 0.2s;
  -o-animation: notiGrow ease-in 0.2s;
  -ms-animaton: notiGrow ease-in 0.2s; 
  display: none;
  z-index: 1;
}

/* Arrow on the notification */
.navbar__noti::before {
  position: absolute;
  content: "";
  border-width: 20px 27px;
  border-style:  solid;
  border-color: transparent transparent var(--white-color) transparent;
  right: 4px;
  top: -29px;
}

/* the bridge between icon and noti-form */
.navbar__noti::after {
  content: "";
  display: block;
  position: absolute;
  height: 20px;
  width: 100px;
  right:0;
  top:-16px;
}

@keyframes notiGrow {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.navbar__noti-header {
  height: 40px;
  background-color: var(--white-color);
}

.navbar__noti-header h3 {
  color: #999;
  margin: 0 0 0 12px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 40px;
  user-select: none;
}

.navbar__noti-list {
  padding-left: 0;
  list-style: none;
}

/* .navbar__noti-item {
} */

.navbar__noti-item:hover {
  background-color: #f7f7f7;
}

.navbar__noti-item--viewd {
  background-color: rgba(238, 77, 45, 0.1);
}

.navbar__noti-link {
  display: flex;
  padding: 12px;
  text-decoration: none;
}

.navbar__noti-img {
  width: 48px;
  object-fit: contain;
}

.navbar__noti-info {
  margin-left: 12px;
}

.navbar__noti-name {
  display: block;
  font-size: 1.4rem;
  color: var(--text-color);
  font-weight: 400;
  line-height: 1.6rem;
}

.navbar__noti-des {
  display: block;
  font-size: 1.2rem;
  color:#756F6E;
  line-height: 1.6rem;
  margin-top: 4px;
}

/* .navbar__noti-footer {
} */

.navbar__noti-footer-btn {
  width: 100%;
  display: block;
  padding: 8px 0;
  text-align: center;
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 400;
}

/* Modal */
.modal.open-modal {
  display: flex;
}

.modal {
  display: none;
}
.auth-form {
  width: 500px;
  background-color: var(--white-color);
  border-radius: 5px;
  overflow: hidden;
}
.auth-form__container {
  padding: 0 32px;
}

.auth-form__header {
  margin-top: 10px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.auth-form__heading {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--text-color);
}

.auth-form__switch-btn {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--primary-color);
  cursor: pointer;
}

.auth-form__input {
  width: 100%;
  height: 40px;
  margin-top: 16px;
  padding: 0 12px;
  font-size: 1.4rem;
  border: solid 1px var(--border-color);
  border-radius: 5px;
  outline: none;
}

.auth-form__input:focus {
  border-color: #888;
}

.auth-form__aside {
  margin-top: 20px;
}

.auth-form__policy-text {
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: center;
  padding: 0 12px;
}

.auth-form__text-link {
  text-decoration: none;
  color: var(--primary-color);
}

.auth-form__controls {
  margin-top: 80px;
  margin-bottom: 8px;
  display: flex;
  justify-content: flex-end;
}

.auth-form__controls button:first-child {
  margin-right: 8px;
}

.auth-form__socials {
  background-color: #f5f5f5;
  padding: 14px 36px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.auth-form__socials-icon {
  font-size: 2rem;
}

.auth-form__socials-fb {
  color: var(--white-color);
  background-color: #3a5a98;
}

.auth-form__socials--distance {
  margin: 0 32px;
}

.auth-form__socials-gg {
  color: #666;
  background-color: var(--white-color);
}

/* Login form */

.auth-form__help {
  display: flex;
  justify-content: flex-end;
}

.auth-form__help-link {
  font-size: 1.4rem;
  text-decoration: none;
}

.auth-form__help-separate {
  display: block;
  height: 22px;
  margin: -2px 16px 0;
  border-left: 1px solid #eaeaea ;
}

.auth-form__help-link:first-child {
  color: var(--primary-color);
}

.auth-form__help-link:nth-child(3) {
  color: #939393;
}

.search {
  height: var(--header-search-height);
  display: flex;
  align-items: center;
  margin: 0 8px;
}

.search__logo {
  width: 200px;
}

.search__logo-img {
  width: 150px;
}

.search__input {
  border-radius: 5px;
  background-color: var(--white-color);
  height: 40px;
  flex: 1;
  display: flex;
  align-items: center;
}

.header__cart {
  width: 150px;
  text-align: center;
}

.header__cart-wrap {
  position: relative;
  display: inline-block;
  padding: 0 12px;
  cursor: pointer;
}

.header__cart-icon {
  font-size: 2.4rem;
  color: var(--white-color);
}

.header__cart-notice {
  position: absolute;
  right: -4px;
  top: -8px;
  padding: 1px 6px;
  font-size: 1.4rem;
  line-height: 1.4rem;
  border: 2px solid #ee4d2d;
  border-radius: 10px;
  color: var(--primary-color);
  background-color: var(--white-color);
}

.header__cart-wrap:hover .header__cart-list {
  display: block;
}

.header__cart-list {
  cursor: default;
  position: absolute;
  right: -3px;
  top: calc(100% + 10px);
  background-color: var(--white-color);
  width: 400px;
  border-radius: 5px;
  box-shadow: 0 1px 3.125rem rgba(0, 0, 0, 0.2);
  display: none;
  animation: fadeIn ease-in 0.2s;
}

.header__cart-list::before {
  cursor: pointer;
  content: "";
  position: absolute;
  right: 4px;
  top: -25px;
  display: block;
  border-width: 16px 20px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
}
.header__cart-list--no-cart {
  padding: 24px 0; 
}

.header__cart-list--no-cart .header__cart-no-cart-img {
  display: inherit;
  margin-left: auto;
  margin-right: auto;
}

.header__cart-no-cart-img {
  width: 60%;
  display: none;
}

.search__input-box-wrap {
  border-radius: 5px;
  height: 100%;
  flex: 1;
  position: relative;
  background-color: var(--white-color);
}

.search__history {
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  width: calc(100% - 16px);
  background-color: var(--white-color);
  border-radius: 5px;
  box-shadow: 0 1px 1px #999;
  overflow: hidden;
  display: none;
  animation: fadeIn ease-in 0.2s;
}

.search__history-list {
  list-style: none;
  padding-left: 0;
  margin: 6px 0 0;
}

.search__history-item {
  height: 38px;
  padding: 0 12px;
}

.search__history-item:hover {
  background-color: #fafafa;
}

.search__history-item a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
  line-height: 38px;
  /* display: block; */
}

.search__history-heading {
  margin: 6px 12px;
  font-size: 1.4rem;
  color: #999;
  font-weight: 400;
  
}

.search__input-box {
  border-radius: 5px;
  font-size: 1.4rem;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  padding: 0 16px;
}

.search__input-box:focus ~ .search__history {
  display: block;
}

.search__input-select {
  border-left: solid 1px #ebebeb;
  padding-left: 16px;
  font-size: 1.4rem;
  position: relative;
  cursor: pointer;
}

.search__input-select:hover .search__option{
  display: block;
}

.search__input-select-label {
  color: var(--text-color);
}

.search__input-select-icon {
  color: #4a4a4a;
  margin: 0 8px;
}

.search__option {
  position: absolute;
  list-style: none;
  right: 0;
  top: 100%;
  min-width: 130px;
  box-shadow: 0 1px 1px #ccc;
  padding-left: 0;
  border-radius: 5px;
  display: none;
  animation: fadeIn linear 0.3s;
}

.search__option::before {
  content: "";
  display: block;
  width: 100%;
  height: 24px;
  position: absolute;
  top: -20px;
}


.search__option-item {
  background-color: var(--white-color);
  padding: 8px;
  font-size: 1.4rem;
}

.search__option-item:first-child {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.search__option-item:last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.search__option-item:hover {
  background-color: #fafafa;
  cursor: pointer;
}

.search__option-item span {
  color: var(--text-color);
  margin-left: 8px;
}

.search__option-item i {
  color: var(--primary-color);
  margin-left: 16px;
  display: none;
}

/* modifier icon check */
.search__option-item .search__option-icon--active {
  display: inline-block;
}

.search__input-search-btn {
  padding: 0 16px;
  margin-right: 4px;
  border: none;
  outline: none;
  background: var(--primary-color);
  height: 34px;
  width: 60px;
  border-radius: 5px;
}

.search__input-search-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.search__input-search-icon {
  color: var(--white-color);
  font-size: 1.4rem;
}